.darker-bg {
    background-color: #f1f3f4;
}
.avatar{
    max-height: 300px;
    width: auto;
}
.introduction {
    padding-top: 4rem;
}
/* music player */
.music-player {
    outline: 1px solid rgb(192, 190, 190);
    border-radius: 30px;
    width: 70%;
}
/* Skill icons */
.skillFrame {
    width: 100px;
    height: 100px;
}
.skillIcon {
    width: 70px;
}
@keyframes slowRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.reactIcon:hover {
  animation: slowRotate 10s linear infinite;
}
.skillIcon:hover {
    width: 75px;
}
/* tags */
.tag {
    border-radius: 40px !important;
    margin: 0 8px 0;
}
.project-tag {
    border-radius: 50px !important;
    margin: 0px 7px 20px 0px;
}
/* git repo */
.git-repo li a {
    margin: 0 5px 0 0;
    height: 40px;
    width: 40px;
    display: block;
    color: black;
    border-radius: 50%;
    position: relative;
    background: rgb(178, 171, 171);
}
.git-repo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* Timeline */
.py-8 {
    padding-bottom:4.5rem!important;
    padding-top:4.5rem!important;
}
@media(min-width:576px){
    .py-sm-8{
        padding-bottom:4.5rem!important;
        padding-top:4.5rem!important}
    }
@media(min-width:768px){
    .py-md-8{
        padding-bottom:4.5rem!important;
        padding-top:4.5rem!important}
    }
@media(min-width:992px){
    .py-lg-8{
    padding-bottom:4.5rem!important;
    padding-top:4.5rem!important}
}
@media(min-width:1200px){
    .py-xl-8{
    padding-bottom:4.5rem!important;
    padding-top:4.5rem!important}
}
@media(min-width:1400px){
    .py-xxl-8{
        padding-bottom:4.5rem!important;
        padding-top:4.5rem!important}
    }
    .bsb-timeline-1 {
        --bsb-tl-color:#d8d8d8;
        --bsb-tl-circle-color:gray;
        --bsb-tl-circle-size:18px;
        --bsb-tl-circle-offset:9px
    }
    .bsb-timeline-1 .timeline {
        list-style:none;margin:0;
        padding:0;position:relative
    }
    .bsb-timeline-1 .timeline:after {
        background-color:var(--bsb-tl-color);
        bottom:0;content:"";
        left:0;
        margin-left:-1px;
        position:absolute;
        top:0;
        width:2px
    }
    .bsb-timeline-1 .timeline>.timeline-item{
        margin:0;
        padding:0;
        position:relative
    }
    .bsb-timeline-1 .timeline>.timeline-item:before {
        background-color:var(--bsb-tl-circle-color);
        border-radius:50%;content:"";
        height:var(--bsb-tl-circle-size);
        left:calc(var(--bsb-tl-circle-offset)*-1);
        position:absolute;
        top:0;
        width:var(--bsb-tl-circle-size);
        z-index:1
    }
    .bsb-timeline-1 .timeline>.timeline-item .timeline-body{
        margin:0;
        padding:0;
        position:relative
    }
    .bsb-timeline-1 .timeline>.timeline-item .timeline-content{
        padding:0 0 2.5rem 2.5rem
    }
@media(min-width:768px){
    .bsb-timeline-1 .timeline>.timeline-item .timeline-content{padding-bottom:3rem}}
    .bsb-timeline-1 .timeline>.timeline-item:last-child .timeline-content{padding-bottom:0}
/* Footer */
.icon {
    border:#000 1px solid;
    border-radius: 50%;
}
.social-list {
    list-style-type: none;
    padding: 0;
    color: #000;
}
.social-list li {
    margin-right: 10px;
    /* border: #000 1px solid; */
}
.social-list li a {
    margin: 0 5px 0 0;
    height: 40px;
    width: 40px;
    display: block;
    color: #fff;
    border-radius: 50%;
    position: relative;
    background: rgb(121, 121, 121)
}
.social-list li a:hover {
    background: #000;
}
.social-icon {
    position: absolute;
    font-size: 17px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.contact-item {
    font-size: 30px;
}
.contact-item .nav-link {
    color: #000 !important;
};
